.navigation-is-scrolled {
	background-color: rgba(0, 0, 0, 0.6);
}

.card-dropdown {
	width: 95vw;
}

.card-dropdown-is-active {
	max-height: 420px;
}

.item-video-is-active {
	display: inline-flex;
}

.spinner-is-faded {
	opacity: 0;
}
