$global-font-header: 'Roboto Slab', serif;
$global-font-body: 'Open Sans', sans-serif;
$global-color-gray: #2B2B2B;
$global-color-black: #0F0F0F;

$background-gray: rgb(20, 20, 20);
$link-color-turqoise: #337AB7;
$white: #FFF;

$card-font-header: 1.4em;
$card-font-sub: 1.25em;
